html
{
    background-color: #202020;
    font-family: verdana;
}

#title a
{
    text-decoration: none;
    color: #ffffff;
}

#main
{
    background-color: #FFFFFF;
    padding: 15px;
}

.blogEntryDatePublished
{
    font-size: 12px;
    border-bottom: solid 1px black;
}

.blogEntryTitle a
{
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: #333333;
}

.blogEntryFooter
{
    margin: 10px;
    font-style: italic;
}

#footer
{
    font-size: smaller;
    text-align: center;
}

.commentHeader
{
    font-style:italic;
}

.field-validation-error
{
    color: #ff0000;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}


#contentContainer
{
    float:left;
    width:70%;
}

#sideBarContainer
{
    float:right;
    width:25%;
}

.archiveMenuContainer
{
    font-size:smaller;
}
.archiveMenuContainer a
{
    text-decoration:none;
}